* {
  box-sizing: border-box;
}

.container
{
  background-color: cornflowerblue;
  width: 400px;
  height: 500px;
}

.container > div
{
  width: 200px;
  height: 200px;
  background-color: red;
  margin: auto;
  padding: 25px;
}

